---
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/nav.astro';
const { centro } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{centro}</title>
		<ClientRouter />
		<style>
			html {
			scroll-behavior: smooth;}
		</style>
	</head>
	<body>
		<Navbar />
		<div>
			<slot />
		</div>	
	</body>

	<footer>
		<div class="text-center p-4">
			<p>&copy; 2025 Diagnoprev. Todos los derechos reservados.</p>
			<p>Desarrollado por YasBenet</p>
	</footer>

</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
	}

	body {
		@apply grid place-content-center;
		overflow-x: hidden;
	}

	body > div {
		@apply container;
	}
	</style>