<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
		
		<meta name="generator" content={Astro.generator} />
		<title>Diagnoprev</title>
	</head>
	<body>
		<div>
			<slot />
		</div>	
	</body>
</html>

<style>
	html,
	body {
		@apply grid place-content-center;
	} 
	body > div {
    	@apply container;
	}

</style>
